:root {
  --branding-color: #ec1723;
  --title-color: #777777;
  --text-color: #7e7e7e;
  --heading-font-family: "Poppins", sans-serif;
  --content-font-family: "Montserrat", sans-serif;
  --content-font-size: 15px;
  --background-color: #f1f2f2;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-size: 28px;
  display: inline;
  margin: 0 13px;
  color: var(--title-color);
}

h3,
h4,
h5 {
  color: rgb(0, 0, 0, 0.7);
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 700px) {
  h1 {
    line-height: 60px;
    font-size: 50px;
  }
}

p {
  font-family: var(--content-font-family);
  font-size: var(--content-font-size);
  font-weight: 300;
  color: var(--text-color);
}

nav {
  padding: 20px 0;
  margin-top: 0px;
}

nav li {
  display: inline;
  list-style: none;
  font-family: var(--heading-font-family);
  line-height: 42px;
  margin-left: 15px;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.logo-homepage {
  max-width: 150px;
}

.copyright {
  font-size: 12px;
}
.hero {
  background-image: url(/images/macarrons.png);

  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 175px 0px;
  color: white;
  text-align: center;
}

.hero h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 128px;
}

.hero p {
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
}

.content {
  padding: 90px;
}

.more-to-come {
  font-size: 50px;
  text-transform: none;
  margin: 40px 0px 0px 30px;
}

.btn-transparent {
  color: #ffffff;
  border-width: 1px;
  border-color: white;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.3s linear;
  border-style: solid;
}

.btn-transparent:hover {
  background: var(--branding-color);
  color: #ffffff;
}

.btn-black {
  color: #ffffff;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background: rgb(0, 0, 0, 0.7);
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  text-transform: uppercase;
  transition: all 0.3s linear;
  border-style: solid;
}

.btn-black:hover {
  background: var(--branding-color);
  color: #ffffff;
}

.highlight {
  font-weight: 300;
  font-size: 34px;
  line-height: 50px;
  color: #383838;
}

.icons {
  color: var(--branding-color);
  font-size: 28px;
}

.icons-title {
  color: var(--branding-color);
  font-size: 30px;
}

.card-body {
  padding: 40px 50px;
  border: none;
}

.grey-block {
  background-color: var(--background-color);
  padding: 90px;
}

.about-photo {
  border-radius: 10px;
  height: 700px;
}

footer {
  margin: 40px 0px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  padding: 3px;
  border-radius: 50%;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--title-color);
}

footer h4 {
  font-size: 35px;
  color: var(--branding-color);
  margin: 0px;
}

footer .contact-box {
  background: #f1f2f2;
  padding: 30px 50px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0px;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  nav {
    padding-right: 0px;
    margin: 0px;
    margin-top: 0px;
  }

  nav ul {
    padding-top: 10px;
  }

  .grey-block {
    padding: 30px 20px;
  }
  .highlight {
    font-size: 25px;
    line-height: 28px;
  }

  .content {
    padding: 30px 20px;
  }

  .more-to-come {
    font-size: 40px;
  }

  footer .email-link {
    font-size: 16px;
  }

  .copyright {
    font-size: 10px;
  }
}
